<div class="container">
  <div class="etat-avancement-par-statut diagram">
      <h3>Etat d'avancement des projets par statut</h3>
      <app-line-chart  [diagramName]="'etat-avancement-par-statut'" (dataselect)="onEChart1DataSelect($event)" (dataunselect)="onEChart1DataUnselect()" [ChartOptions]="ChartOptions1" (echartrender)='onEChartRender($event)'></app-line-chart>
  </div>

  <div #etatAvancementParStatutDetail class="etat-avancement-par-statut-detail diagram" style="opacity:0">
      <h3 class="title">{{echart2Title}}</h3>
      <app-line-chart #etatAvancementParStatutDetailChart [diagramName]="'etat-avancement-par-statut-detail'" [ChartOptions]="ChartOptions2"></app-line-chart>
  </div>
</div>