.chart {
  height: 400px;
}

.chart-lg {
  height: 700px;
}

.diagram{
  display:flex;
  align-items: center;
  flex-direction: column;
  /*height:500px;*/
  /*width: calc(50% - 5px);*/
  /*padding-left:15px;*/
  /*padding-right:15px;*/
  transition: opacity 0.2s linear;
  width:470px;
  height:300px;
  //min-height:350px;
  /*margin-right:15px;*/
}

app-line-chart{
  width:calc(100%);
  /*flex-grow: 1;*/
  /*border: 1px solid #8080804f;*/
  height: 100%;
  flex-grow: 1;
}

.container{
  display: flex;
  position: relative;
  /*justify-content: space-between;*/
  margin-bottom:5px;
  flex-wrap: wrap;
}

.container1 .diagram {
  width: 25%;
  height:300px;
  /*height:400px;*/
}

.container2 .diagram {
  width: 50%;
  height:320px;
  /*height:400px;*/
}

.container3 .diagram {
  width: 50%;
}

.container4 .diagram {
  width: 33%;
}

.separator{
  margin-top: 15px;
  margin-bottom:0px;
  border: none;
  border-top: 1px solid #8080804f;
  width:100%;
  display: none;
}

.separator:last-of-type{
  margin-bottom:0px;
}

.hidden-diagram{
  //position: absolute;
  opacity: 0;
  pointer-events: none;
}

.diagram > .title{
  margin-top:15px;
  margin-bottom:15px;
  display:none;
}

.header {
  position: fixed;
  top: 0;
  left: 0;
  height: 40px;
  width: 100%;
  background: #FFFFFF;
  z-index: 99999;
  box-shadow: 0 0 3px 1px #80808087;
  display:flex;
  align-items: center;
  padding: 0px 2px;
}

.dashboard-select{
  height:30px;
  outline:none;
}

.header .logo-wrapper {
  height: calc(100% - 4px);
  margin-right:20px;
}
.header .logo-wrapper a {
  height: 100%;
  display:block;
}

.header .logo-wrapper img {
  height: 100%;
}

.page-container {
  padding-top: 42px;
}

@media screen and (max-width:880px){
  :host ::ng-deep .container{
    flex-direction: column;
  }

  :host ::ng-deep .container .diagram{
    width:100% !important;
    margin-bottom:15px;
  }
}