.chart {
  height: 400px;
}

.chart-lg {
  height: 700px;
}

.diagram{
  display:flex;
  align-items: center;
  flex-direction: column;
  /*height:500px;*/
  width: calc(50% - 5px);
  /*padding-left:15px;*/
  /*padding-right:15px;*/
  transition: opacity 0.2s linear;
}

app-line-chart{
  width:calc(100% - 2px);
  /*flex-grow: 1;*/
  border: 1px solid #8080804f;
}

.container{
  display: flex;
  position: relative;
  justify-content: space-between;
  /*margin-bottom:20px;*/
  flex-wrap: wrap;
}

.etat-projet-par-cause-alerte-detail2{
  margin:auto;
}

.separator{
  margin-top: 15px;
  margin-bottom:0px;
  border: none;
  border-top: 1px solid #8080804f;
}

.separator:last-of-type{
  margin-bottom:0px;
}

.hidden-diagram{
  //position: absolute;
  opacity: 0;
  pointer-events: none;
}

.diagram > .title{
  margin-top:15px;
  margin-bottom:15px;
}

@media screen and (max-width:767px){
  .container{
    flex-direction: column;
  }

  .diagram{
    width:100%;
    padding: 0;
    margin-bottom:15px;
  }
}